#anchor-content {
  padding: 0;
}

#page\3a main-container {
  background-color: rgb(231, 238, 244) !important;
  margin: 0 !important;
  padding-bottom: 20px;
}

.fm-probe-result {
  margin-left: 3em;
  padding: 1em;
}

.fm-probe-error .fm-probe-result {
  background: rgba(255, 0, 0, .1)
}

.fm-probe-success .fm-probe-result {
  background: rgba(0, 255, 0, .1)
}
