[submodule "src/fyndiq/shared"]
	path = src/fyndiq/shared
	url = git@github.com:fyndiq/fyndiq-module-shared.git
[submodule "src/fyndiq/api"]
	path = src/fyndiq/api
	url = git@github.com:fyndiq/fyndiq-api-wrapper-php.git
