<phpunit
        bootstrap="tests/bootstrap.php"
        backupGlobals="false"
        colors="true"
        convertErrorsToExceptions="true"
        convertNoticesToExceptions="true"
        convertWarningsToExceptions="true"
        >
    <testsuites>
        <testsuite>
            <directory prefix="test" suffix=".php">./tests/src/</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory suffix=".php">src/</directory>
            <exclude>
                <directory suffix=".php">src/app/code/community/Fyndiq/Fyndiq/lib</directory>
                <directory suffix=".php">src/app/code/community/Fyndiq/Fyndiq/sql</directory>
                <directory suffix=".php">src/app/code/community/Fyndiq/Fyndiq/data</directory>
                <directory suffix=".php">src/app/code/community/Fyndiq/Fyndiq/translations</directory>
                <directory suffix=".php">tests</directory>
                <directory suffix=".php">tools</directory>
            </exclude>
        </whitelist>
    </filter>
</phpunit>
