<?xml version="1.0" ?>
<config>
    <modules>
        <Fyndiq_Fyndiq>
            <version>1.0.0</version>
        </Fyndiq_Fyndiq>
    </modules>
    <global>
        <models>
            <fyndiq_fyndiq>
                <class>Fyndiq_Fyndiq_Model</class>
            </fyndiq_fyndiq>
        </models>
        <blocks>
            <fyndiq>
                <rewrite>
                    <exportproducts>Fyndiq_Fyndiq_Block_Exportproducts</exportproducts>
                </rewrite>
            </fyndiq>
        </blocks>
    </global>
    <admin>
        <routers>
            <fyndiq>
                <use>admin</use>
                <args>
                        <module>Fyndiq_Fyndiq</module>
                        <frontName>fyndiq</frontName>
                </args>
            </fyndiq>
        </routers>
        <layout>
            <updates>
                <fyndiq>
                    <file>fyndiqadmin.xml</file>
                </fyndiq>
            </updates>
        </layout>
    </admin>
    <adminhtml>
        <menu>
            <system>
                <children>
                    <fyndiq>
                        <title>Fyndiq Export/Import</title>
                        <sort_order>0</sort_order>
                        <action>fyndiq/admin/exportproducts</action>
                    </fyndiq>
                </children>
            </system>
        </menu>
    </adminhtml>
    <events>
        <!-- The code of the event we want to observe -->
        <catalog_product_save_after>
            <!-- Defining an observer for this event -->
            <observers>
                <fyndiq_fyndiq>
                    <!-- The model to be instantiated -->
                    <class>fyndiq_fyndiq/observer</class>
                    <!-- The method of the class to be called -->
                    <method>logUpdate</method>
                    <!-- The type of class to instantiate -->
                    <type>singleton</type>
                </fyndiq_fyndiq>>
            </observers>
        </catalog_product_save_after>
    </events>
</config>