<?xml version="1.0" ?>
<config>
    <modules>
        <Fyndiq_Fyndiq>
            <version>1.0.0</version>
        </Fyndiq_Fyndiq>
    </modules>
    <global>
        <models>
            <fyndiq>
                <class>Fyndiq_Fyndiq_Model</class>
                <resourceModel>fyndiq_resource</resourceModel>
            </fyndiq>
            <fyndiq_resource>
                <class>Fyndiq_Fyndiq_Model_Resource</class>
                <entities>
                    <product>
                        <table>fyndiq_products</table>
                    </product>
                    <order>
                        <table>fyndiq_orders</table>
                    </order>
                </entities>
            </fyndiq_resource>
        </models>
        <resources>
            <fyndiq_fyndiq_setup>
                <setup>
                    <module>Fyndiq_Fyndiq</module>
                </setup>
            </fyndiq_fyndiq_setup>
        </resources>
        <blocks>
            <Fyndiq>
                <rewrite>
                    <exportproducts>Fyndiq_Fyndiq_Block_Exportproducts</exportproducts>
                </rewrite>
            </Fyndiq>
        </blocks>
    </global>
    <admin>
        <routers>
            <Fyndiq>
                <use>admin</use>
                <args>
                    <module>Fyndiq_Fyndiq</module>
                    <frontName>fyndiq</frontName>
                </args>
            </Fyndiq>
        </routers>
        <layout>
            <updates>
                <Fyndiq>
                    <file>fyndiqadmin.xml</file>
                </Fyndiq>
            </updates>
        </layout>
    </admin>
    <adminhtml>
        <menu>
            <system>
                <children>
                    <fyndiq>
                        <title>Fyndiq Export/Import</title>
                        <sort_order>0</sort_order>
                        <action>fyndiq/admin/index</action>
                    </fyndiq>
                </children>
            </system>
        </menu>
    </adminhtml>
    <frontend>
        <routers>
            <Fyndiq>
                <use>standard</use>
                <args>
                    <module>Fyndiq_Fyndiq</module>
                    <frontName>fyndiq</frontName>
                </args>
            </Fyndiq>
        </routers>
    </frontend>
    <events>
        <!-- The code of the event we want to observe -->
        <sales_order_save_after>
            <!-- Defining an observer for this event -->
            <observers>
                <Fyndiq_Fyndiq>
                    <!-- The model to be instantiated -->
                    <class>fyndiq_fyndiq/observer</class>
                    <!-- The method of the class to be called -->
                    <method>exportQuantity</method>
                    <!-- The type of class to instantiate -->
                    <type>singleton</type>
                </Fyndiq_Fyndiq>
            </observers>
        </sales_order_save_after>
    </events>
    <default>
        <fyndiq>
            <fyndiq_group>
                <price_percentage>10</price_percentage>
                <quantity_percentage>10</quantity_percentage>
                <country>SE</country>
                <currency>SEK</currency>
            </fyndiq_group>
        </fyndiq>
        <carriers>
            <fyndiq_fyndiq>
                <active>1</active>
                <model>fyndiq/carrier</model>
                <title>Fyndiq Carrier</title>
                <sort_order>10</sort_order>
                <sallowspecific>0</sallowspecific>
                <express_max_weight>1</express_max_weight>
            </fyndiq_fyndiq>
        </carriers>
    </default>
    <crontab>
        <jobs>
            <feed_products>
                <schedule><cron_expr>*/30 * * * *</cron_expr></schedule>
                <run><model>fyndiq/cron::exportProducts</model></run>
            </feed_products>
        </jobs>
    </crontab>
</config>