<?xml version="1.0" ?>
<config>
    <modules>
        <Fyndiq_Fyndiq>
            <version>2.0.0</version>
        </Fyndiq_Fyndiq>
    </modules>
    <global>
        <models>
            <fyndiq>
                <class>Fyndiq_Fyndiq_Model</class>
            </fyndiq>
            <observer>
                <class>Fyndiq_Fyndiq_Model_Observer</class>
            </observer>
            <config>
                <class>Fyndiq_Fyndiq_Model_Config</class>
            </config>
            <export>
                <class>Fyndiq_Fyndiq_Model_Export</class>
            </export>
            <sales>
                <rewrite>
                    <quote_address>Fyndiq_Fyndiq_Model_Sales_Quote_Address</quote_address>
                </rewrite>
            </sales>
        </models>
        <resources>
            <fyndiqmodule_setup>
                <setup>
                    <module>Fyndiq_Fyndiq</module>
                    <class>Mage_Eav_Model_Entity_Setup</class>
                </setup>
            </fyndiqmodule_setup>
        </resources>
        <blocks>
            <Fyndiq>
                <rewrite>
                    <exportproducts>Fyndiq_Fyndiq_Block_Exportproducts</exportproducts>
                </rewrite>
            </Fyndiq>
            <adminhtml>
               <rewrite>
                   <catalog_product_grid>Fyndiq_Fyndiq_Block_Adminhtml_Catalog_Product_Grid</catalog_product_grid>
                   <sales_order>Fyndiq_Fyndiq_Block_Adminhtml_Sales_Order</sales_order>
                   <sales_order_grid>Fyndiq_Fyndiq_Block_Adminhtml_Sales_Order_Grid</sales_order_grid>
               </rewrite>
            </adminhtml>
        </blocks>
        <events>
            <admin_system_config_changed_section_fyndiq>
                <observers>
                    <fyndiq>
                        <type>singleton</type>
                        <class>fyndiq/observer</class>
                        <method>handle_fyndiqConfigChangedSection</method>
                    </fyndiq>
                </observers>
            </admin_system_config_changed_section_fyndiq>
        </events>
        <fieldsets>
            <sales_convert_quote>
                <fyndiq_order_id>
                    <to_order>*</to_order>
                </fyndiq_order_id>
            </sales_convert_quote>
        </fieldsets>
        <helpers>
            <api>
                <class>Fyndiq_Fyndiq_Helper_Api</class>
            </api>
            <region>
                <class>Fyndiq_Fyndiq_Helper_Region</class>
            </region>
            <fyndiq_fyndiq>
                <class>Fyndiq_Fyndiq_Helper</class>
            </fyndiq_fyndiq>
        </helpers>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Fyndiq before="Mage_Adminhtml">Fyndiq_Fyndiq_Adminhtml</Fyndiq>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <frontend>
        <routers>
            <Fyndiq>
                <use>standard</use>
                <args>
                    <module>Fyndiq_Fyndiq</module>
                    <frontName>fyndiq</frontName>
                </args>
            </Fyndiq>
        </routers>
    </frontend>
    <default>
        <fyndiq>
            <fyndiq_group>
                <price_absolute>0</price_absolute>
                <price_percentage>0</price_percentage>
                <import_state>processing</import_state>
                <stockmin>0</stockmin>
                <import_orders_disabled>0</import_orders_disabled>
                <fyndiq_payment_method>fyndiq_fyndiq</fyndiq_payment_method>
                <fyndiq_shipment_method>fyndiq_fyndiq_standard</fyndiq_shipment_method>
            </fyndiq_group>
        </fyndiq>
        <carriers>
            <fyndiq_fyndiq translate="title" module="fyndiq_fyndiq">
                <active>1</active>
                <model>fyndiq/carrier</model>
                <title>Fyndiq Carrier</title>
                <sort_order>10</sort_order>
                <sallowspecific>0</sallowspecific>
                <express_max_weight>1</express_max_weight>
                <show_in_default>0</show_in_default>
                <show_in_website>0</show_in_website>
                <show_in_store>0</show_in_store>
            </fyndiq_fyndiq>
        </carriers>
        <payment>
            <fyndiq_fyndiq  translate="title" module="fyndiq_fyndiq">
                <active>1</active>
                <model>fyndiq/payment</model>
                <order_status>pending</order_status>
                <title>Fyndiq</title>
                <visible_on_cart>0</visible_on_cart>
                <visible_on_product>0</visible_on_product>
                <payment_action>sale</payment_action>
                <allowspecific>0</allowspecific>
                <sort_order>100</sort_order>
            </fyndiq_fyndiq>
        </payment>
    </default>
</config>
