<?xml version="1.0"?>
<config>
    <sections>
        <fyndiq translate="label" module="fyndiq_fyndiq">
            <label>Fyndiq</label>
            <tab>general</tab>
            <frontend_type>text</frontend_type>
            <sort_order>1000</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <groups>
                <warning translate="label" module="fyndiq_fyndiq">
                    <label>Warnings</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>0</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>0</show_in_store>
                    <fields>
                        <warning_label translate="label comment" module="fyndiq_fyndiq">
                            <label>Configuration Scope</label>
                            <frontend_type>button</frontend_type>
                            <frontend_model>Fyndiq_Fyndiq_Block_Warning</frontend_model>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </warning_label>
                    </fields>
                </warning>
                <fyndiq_group translate="label" module="fyndiq_fyndiq">
                    <label>Settings</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>1</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <ping_token>
                            <frontend_type>text</frontend_type>
                            <show_in_default>0</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </ping_token>
                        <username translate="label comment" module="fyndiq_fyndiq">
                            <label>Username</label>
                            <comment><![CDATA[Your Username on Fyndiq]]></comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </username>
                        <apikey translate="label comment" module="fyndiq_fyndiq">
                            <label>API token</label>
                            <comment><![CDATA[Please generate an API Version 2 Token on your Fyndiq Merchant Account and add it to this field.]]></comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>2</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </apikey>

                        <price_group  translate="label comment" module="fyndiq_fyndiq">
                            <label>Price for selected Customer Group</label>
                            <comment><![CDATA[The Customer Group used for prices on Fyndiq]]></comment>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_customer_group</source_model>
                            <sort_order>3</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </price_group>
                        <price_percentage  translate="label comment" module="fyndiq_fyndiq">
                            <label>Global percentage discount</label>
                            <comment><![CDATA[If larger than 0, all prices sent to Fyndiq will be reduced by the percentage entered in this field.]]></comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>4</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </price_percentage>
                        <price_absolute  translate="label comment" module="fyndiq_fyndiq">
                            <label>Absolute price discount</label>
                            <comment><![CDATA[If larger than 0, all prices sent to Fyndiq will be reduced by the amount entered in this field.]]></comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>5</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </price_absolute>
                        <stockmin translate="label comment" module="fyndiq_fyndiq">
                            <label>Minimum Stock Value</label>
                            <comment><![CDATA[The number to be deducted from Magento Stock Values when products are exported to Fyndiq. If set to 10, the current quantity for each exported product minus 10 will be sent. If the quantity minus 10 is 0 or lower, a quantity of 0 will be sent to Fyndiq.]]></comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>6</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </stockmin>

                        <import_state  translate="label comment" module="fyndiq_fyndiq">
                            <label>Order Status</label>
                            <comment><![CDATA[The Order Status used when Fyndiq Orders are imported]]></comment>
                            <source_model>Mage_Adminhtml_Model_System_Config_Source_Order_Status</source_model>
                            <frontend_type>select</frontend_type>
                            <sort_order>7</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </import_state>
                        <fyndiq_shipment_method  translate="label comment" module="fyndiq_fyndiq">
                            <label>Shipping Method</label>
                            <comment><![CDATA[The Shipping Method used when Fyndiq Orders are imported]]></comment>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_shipping_allowedmethods</source_model>
                            <sort_order>8</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </fyndiq_shipment_method>
                        <fyndiq_payment_method translate="label comment" module="fyndiq_fyndiq">
                            <label>Payment method</label>
                            <comment><![CDATA[The Payment Method used when Fyndiq Orders are imported]]></comment>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_payment_allowedmethods</source_model>
                            <sort_order>9</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </fyndiq_payment_method>
                        <import_orders_disabled translate="label comment" module="fyndiq_fyndiq">
                            <label>Disable Order Import from Fyndiq</label>
                            <comment><![CDATA[Deactivate Order Import here, if this is required for your workflows.]]></comment>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </import_orders_disabled>

                        <disconnect translate="label comment" module="fyndiq_fyndiq">
                            <label>Disconnect account</label>
                            <comment><![CDATA[This button will remove your current Fyndiq Username and API Token. Products and orders will not be synced anymore.]]></comment>
                            <frontend_type>button</frontend_type>
                            <frontend_model>Fyndiq_Fyndiq_Block_Button</frontend_model>
                            <sort_order>16</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </disconnect>
                    </fields>
                </fyndiq_group>

                <mappings translate="label" module="fyndiq_fyndiq">
                    <label>Field Mappings</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>2</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <description translate="label comment" module="fyndiq_fyndiq">
                            <label>Description</label>
                            <comment><![CDATA[Field used for the descriptions sent to Fyndiq]]></comment>
                            <frontend_type>select</frontend_type>
                            <source_model>fyndiq/system_config_source_dropdown_description</source_model>
                            <sort_order>11</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </description>
                        <ean translate="label comment" module="fyndiq_fyndiq">
                            <label>EAN</label>
                            <comment><![CDATA[EAN]]></comment>
                            <frontend_type>select</frontend_type>
                            <source_model>fyndiq/system_config_source_dropdown_attribute</source_model>
                            <sort_order>12</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </ean>
                        <isbn translate="label comment" module="fyndiq_fyndiq">
                            <label>ISBN</label>
                            <comment><![CDATA[ISBN]]></comment>
                            <frontend_type>select</frontend_type>
                            <source_model>fyndiq/system_config_source_dropdown_attribute</source_model>
                            <sort_order>13</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </isbn>
                        <mpn translate="label comment" module="fyndiq_fyndiq">
                            <label>MPN</label>
                            <comment><![CDATA[MPN]]></comment>
                            <frontend_type>select</frontend_type>
                            <source_model>fyndiq/system_config_source_dropdown_attribute</source_model>
                            <sort_order>14</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </mpn>
                        <brand translate="label comment" module="fyndiq_fyndiq">
                            <label>Brand</label>
                            <comment><![CDATA[Brand]]></comment>
                            <frontend_type>select</frontend_type>
                            <source_model>fyndiq/system_config_source_dropdown_attribute</source_model>
                            <sort_order>15</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </brand>
                    </fields>
                </mappings>
                <tracking>
                    <label>Delivery Service Mapping</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>3</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <postnord translate="label comment" module="fyndiq_fyndiq">
                            <label>PostNord</label>
                            <frontend_type>multiselect</frontend_type>
                            <source_model>fyndiq/system_config_source_dropdown_carrier</source_model>
                            <sort_order>16</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </postnord>
                        <schenker translate="label comment" module="fyndiq_fyndiq">
                            <label>Schenker</label>
                            <frontend_type>multiselect</frontend_type>
                            <source_model>fyndiq/system_config_source_dropdown_carrier</source_model>
                            <sort_order>17</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </schenker>
                        <dhl translate="label comment" module="fyndiq_fyndiq">
                            <label>DHL</label>
                            <frontend_type>multiselect</frontend_type>
                            <source_model>fyndiq/system_config_source_dropdown_carrier</source_model>
                            <sort_order>18</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </dhl>
                        <bring translate="label comment" module="fyndiq_fyndiq">
                            <label>Bring</label>
                            <frontend_type>multiselect</frontend_type>
                            <source_model>fyndiq/system_config_source_dropdown_carrier</source_model>
                            <sort_order>19</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </bring>
                        <deutsche-post translate="label comment" module="fyndiq_fyndiq">
                            <label>Deutsche Post</label>
                            <frontend_type>multiselect</frontend_type>
                            <source_model>fyndiq/system_config_source_dropdown_carrier</source_model>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </deutsche-post>
                        <dpd translate="label comment" module="fyndiq_fyndiq">
                            <label>DPD</label>
                            <frontend_type>multiselect</frontend_type>
                            <source_model>fyndiq/system_config_source_dropdown_carrier</source_model>
                            <sort_order>21</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </dpd>
                        <gls translate="label comment" module="fyndiq_fyndiq">
                            <label>GLS</label>
                            <frontend_type>multiselect</frontend_type>
                            <source_model>fyndiq/system_config_source_dropdown_carrier</source_model>
                            <sort_order>22</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </gls>
                        <ups translate="label comment" module="fyndiq_fyndiq">
                            <label>UPS</label>
                            <frontend_type>multiselect</frontend_type>
                            <source_model>fyndiq/system_config_source_dropdown_carrier</source_model>
                            <sort_order>23</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </ups>
                        <hermes translate="label comment" module="fyndiq_fyndiq">
                            <label>Hermes</label>
                            <frontend_type>multiselect</frontend_type>
                            <source_model>fyndiq/system_config_source_dropdown_carrier</source_model>
                            <sort_order>24</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </hermes>
                    </fields>
                </tracking>
                <feed>
                    <label>Feed Generation</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>4</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <generated_time>
                            <frontend_type>text</frontend_type>
                            <show_in_default>0</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </generated_time>

                        <cron_enabled translate="label comment" module="fyndiq_fyndiq">
                            <label>Use Cron for Feed Generation</label>
                            <comment><![CDATA[If enabled, the Magento Cron Jobs will be used to generate the product feed for Fyndiq.]]></comment>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>16</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </cron_enabled>

                        <cron_interval translate="label comment" module="fyndiq_fyndiq">
                            <label>Interval</label>
                            <comment><![CDATA[Interval between Feed Generations]]></comment>
                            <frontend_type>select</frontend_type>
                            <source_model>fyndiq/system_config_source_dropdown_interval</source_model>
                            <sort_order>17</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </cron_interval>
                    </fields>
                </feed>
                <troubleshooting>
                    <label>Troubleshooting</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>5</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <version_check_time>
                            <frontend_type>text</frontend_type>
                            <show_in_default>0</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </version_check_time>
                        <last_version>
                            <frontend_type>text</frontend_type>
                            <show_in_default>0</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </last_version>
                        <updated translate="label comment" module="fyndiq_fyndiq">
                            <label>Latest Feed Update</label>
                            <comment><![CDATA[Date and time of the latest Feed Generation]]></comment>
                            <frontend_type>button</frontend_type>
                            <frontend_model>Fyndiq_Fyndiq_Block_Updated</frontend_model>
                            <sort_order>18</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </updated>
                        <module_list translate="label comment" module="fyndiq_fyndiq">
                            <label>Installed Extensions</label>
                            <comment><![CDATA[Currently installed extensions]]></comment>
                            <frontend_type>button</frontend_type>
                            <frontend_model>Fyndiq_Fyndiq_Block_Modules</frontend_model>
                            <sort_order>19</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </module_list>
                    </fields>
                </troubleshooting>
            </groups>
        </fyndiq>
        <payment>
            <groups>
                <fyndiq_fyndiq translate="label" module="fyndiq_fyndiq">
                    <label>Fyndiq</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>9999</sort_order>
                    <show_in_default>0</show_in_default>
                    <show_in_website>0</show_in_website>
                    <show_in_store>0</show_in_store>
                </fyndiq_fyndiq>
            </groups>
        </payment>
        <carriers translate="label" module="fyndiq_fyndiq">
            <groups>
                <fyndiq_fyndiq translate="label">
                    <label>Fyndiq</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>1000</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <active translate="label">
                            <label>Enabled</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </active>
                    </fields>
                </fyndiq_fyndiq>
            </groups>
        </carriers>
    </sections>
</config>
