<?xml version="1.0"?>
<config>
    <sections>
        <fyndiq translate="label" module="fyndiq_fyndiq">
            <label>Fyndiq</label>
            <tab>general</tab>
            <frontend_type>text</frontend_type>
            <sort_order>1000</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <groups>
                <fyndiq_group translate="label" module="fyndiq_fyndiq">
                    <label>Settings</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>1</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <ping_token>
                            <frontend_type>text</frontend_type>
                            <show_in_default>0</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </ping_token>
                        <username translate="label comment" module="fyndiq_fyndiq">
                            <label>Username</label>
                            <comment><![CDATA[Your login username to the merchant page.]]></comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </username>
                        <apikey translate="label comment" module="fyndiq_fyndiq">
                            <label>API token</label>
                            <comment><![CDATA[The API key that is long randomly generated string you got from Fyndiq.]]></comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>2</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </apikey>

                        <price_group  translate="label comment" module="fyndiq_fyndiq">
                            <label>Customer Price Fyndiq will use</label>
                            <comment><![CDATA[Customer price group, which products will use to set price for Fyndiq]]></comment>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_customer_group</source_model>
                            <sort_order>3</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </price_group>
                        <price_percentage  translate="label comment" module="fyndiq_fyndiq">
                            <label>Global percentage of price</label>
                            <comment><![CDATA[The percentage that will be removed from the price when sending to Fyndiq. Can be 0 if the price should be the same as in your shop.]]></comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>4</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </price_percentage>
                        <price_absolute  translate="label comment" module="fyndiq_fyndiq">
                            <label>Absolute price discount</label>
                            <comment><![CDATA[The price that will be removed from product price when exported to Fyndiq]]></comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>5</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </price_absolute>
                        <stockmin translate="label comment" module="fyndiq_fyndiq">
                            <label>Lowest quantity to send to Fyndiq</label>
                            <comment><![CDATA[Set this to a number which will be the lowest Fyndiq can go to, If set to ten, the module will send the quantity amount minus 10 to Fyndiq, if the quantity minus 10 becomes 0 or below 0 it will be sent as 0.]]></comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>6</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </stockmin>

                        <import_state  translate="label comment" module="fyndiq_fyndiq">
                            <label>Import order status</label>
                            <comment><![CDATA[Orders, imported from Fyndiq will be created with this orders status]]></comment>
                            <source_model>Mage_Adminhtml_Model_System_Config_Source_Order_Status</source_model>
                            <frontend_type>select</frontend_type>
                            <sort_order>7</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </import_state>
                        <fyndiq_shipment_method  translate="label comment" module="fyndiq_fyndiq">
                            <label>Create orders with this shipping method code</label>
                            <comment><![CDATA[Leave the field empty for the default Fyndiq shipping method]]></comment>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_shipping_allowedmethods</source_model>
                            <sort_order>8</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </fyndiq_shipment_method>
                        <fyndiq_payment_method translate="label comment" module="fyndiq_fyndiq">
                            <label>Create orders with this payment method</label>
                            <comment><![CDATA[Choose which payment method to create orders with]]></comment>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_payment_allowedmethods</source_model>
                            <sort_order>9</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </fyndiq_payment_method>
                        <import_orders_disabled translate="label comment" module="fyndiq_fyndiq">
                            <label>Disable order import from Fyndiq</label>
                            <comment><![CDATA[If the checkbox is checked, orders will be automatically imported from Fyndiq]]></comment>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </import_orders_disabled>

                        <description translate="label comment" module="fyndiq_fyndiq">
                            <label>Description</label>
                            <comment><![CDATA[This Description will be used, when sending the product to Fyndiq.]]></comment>
                            <frontend_type>select</frontend_type>
                            <source_model>fyndiq/system_config_source_dropdown_description</source_model>
                            <sort_order>11</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </description>

                        <disconnect translate="label comment" module="fyndiq_fyndiq">
                            <label>Disconnect your account</label>
                            <comment><![CDATA[Disconnect your account means to reset your api-token and username, no warning will come up when clicking so click with caution!]]></comment>
                            <frontend_type>button</frontend_type>
                            <frontend_model>Fyndiq_Fyndiq_Block_Button</frontend_model>
                            <sort_order>16</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </disconnect>
                    </fields>
                </fyndiq_group>

                <mappings translate="label" module="fyndiq_fyndiq">
                    <label>Field Mappings</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>2</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <ean translate="label comment" module="fyndiq_fyndiq">
                            <label>EAN</label>
                            <comment><![CDATA[Field to use for EAN.]]></comment>
                            <frontend_type>select</frontend_type>
                            <source_model>fyndiq/system_config_source_dropdown_attribute</source_model>
                            <sort_order>12</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </ean>
                        <isbn translate="label comment" module="fyndiq_fyndiq">
                            <label>ISBN</label>
                            <comment><![CDATA[Field to use for ISBN.]]></comment>
                            <frontend_type>select</frontend_type>
                            <source_model>fyndiq/system_config_source_dropdown_attribute</source_model>
                            <sort_order>13</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </isbn>
                        <mpn translate="label comment" module="fyndiq_fyndiq">
                            <label>MPN</label>
                            <comment><![CDATA[Field to use for MPN.]]></comment>
                            <frontend_type>select</frontend_type>
                            <source_model>fyndiq/system_config_source_dropdown_attribute</source_model>
                            <sort_order>14</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </mpn>
                        <brand translate="label comment" module="fyndiq_fyndiq">
                            <label>Brand</label>
                            <comment><![CDATA[Field to use for Brand.]]></comment>
                            <frontend_type>select</frontend_type>
                            <source_model>fyndiq/system_config_source_dropdown_attribute</source_model>
                            <sort_order>15</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </brand>
                    </fields>
                </mappings>
                <tracking>
                    <label>Delivery Service Mapping</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>3</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <postnord translate="label comment" module="fyndiq_fyndiq">
                            <label>PostNord</label>
                            <frontend_type>multiselect</frontend_type>
                            <source_model>fyndiq/system_config_source_dropdown_carrier</source_model>
                            <sort_order>16</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </postnord>
                        <schenker translate="label comment" module="fyndiq_fyndiq">
                            <label>Schenker</label>
                            <frontend_type>multiselect</frontend_type>
                            <source_model>fyndiq/system_config_source_dropdown_carrier</source_model>
                            <sort_order>17</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </schenker>
                        <dhl translate="label comment" module="fyndiq_fyndiq">
                            <label>DHL</label>
                            <frontend_type>multiselect</frontend_type>
                            <source_model>fyndiq/system_config_source_dropdown_carrier</source_model>
                            <sort_order>18</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </dhl>
                        <bring translate="label comment" module="fyndiq_fyndiq">
                            <label>Bring</label>
                            <frontend_type>multiselect</frontend_type>
                            <source_model>fyndiq/system_config_source_dropdown_carrier</source_model>
                            <sort_order>19</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </bring>
                        <deutsche-post translate="label comment" module="fyndiq_fyndiq">
                            <label>Deutsche Post</label>
                            <frontend_type>multiselect</frontend_type>
                            <source_model>fyndiq/system_config_source_dropdown_carrier</source_model>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </deutsche-post>
                        <dpd translate="label comment" module="fyndiq_fyndiq">
                            <label>DPD</label>
                            <frontend_type>multiselect</frontend_type>
                            <source_model>fyndiq/system_config_source_dropdown_carrier</source_model>
                            <sort_order>21</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </dpd>
                        <gls translate="label comment" module="fyndiq_fyndiq">
                            <label>GLS</label>
                            <frontend_type>multiselect</frontend_type>
                            <source_model>fyndiq/system_config_source_dropdown_carrier</source_model>
                            <sort_order>22</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </gls>
                        <ups translate="label comment" module="fyndiq_fyndiq">
                            <label>UPS</label>
                            <frontend_type>multiselect</frontend_type>
                            <source_model>fyndiq/system_config_source_dropdown_carrier</source_model>
                            <sort_order>23</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </ups>
                        <hermes translate="label comment" module="fyndiq_fyndiq">
                            <label>Hermes</label>
                            <frontend_type>multiselect</frontend_type>
                            <source_model>fyndiq/system_config_source_dropdown_carrier</source_model>
                            <sort_order>24</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </hermes>
                    </fields>
                </tracking>
                <feed>
                    <label>Feed Generation</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>4</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <generated_time>
                            <frontend_type>text</frontend_type>
                            <show_in_default>0</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </generated_time>

                        <cron_enabled translate="label comment" module="fyndiq_fyndiq">
                            <label>Use cron to generate feed</label>
                            <comment><![CDATA[If enabled, the export feed will be generated using the Magento cron jobs]]></comment>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>16</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </cron_enabled>

                        <cron_interval translate="label comment" module="fyndiq_fyndiq">
                            <label>Interval to generate the feed</label>
                            <comment><![CDATA[Interval (in minutes) between generating the feed]]></comment>
                            <frontend_type>select</frontend_type>
                            <source_model>fyndiq/system_config_source_dropdown_interval</source_model>
                            <sort_order>17</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </cron_interval>
                    </fields>
                </feed>
                <troubleshooting>
                    <label>Troubleshooting</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>5</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <update_check>
                            <frontend_type>text</frontend_type>
                            <show_in_default>0</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </update_check>
                        <last_version>
                            <frontend_type>text</frontend_type>
                            <show_in_default>0</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </last_version>
                        <updated translate="label comment" module="fyndiq_fyndiq">
                            <label>Feed last update</label>
                            <comment><![CDATA[Last time the export feed was generated]]></comment>
                            <frontend_type>button</frontend_type>
                            <frontend_model>Fyndiq_Fyndiq_Block_Updated</frontend_model>
                            <sort_order>18</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </updated>
                        <module_list translate="label comment" module="fyndiq_fyndiq">
                            <label>List installed modules</label>
                            <comment><![CDATA[Shows list of installed modules]]></comment>
                            <frontend_type>button</frontend_type>
                            <frontend_model>Fyndiq_Fyndiq_Block_Modules</frontend_model>
                            <sort_order>19</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </module_list>
                    </fields>
                </troubleshooting>
            </groups>
        </fyndiq>
        <payment>
            <groups>
                <fyndiq_fyndiq translate="label" module="fyndiq_fyndiq">
                    <label>Fyndiq</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>9999</sort_order>
                    <show_in_default>0</show_in_default>
                    <show_in_website>0</show_in_website>
                    <show_in_store>0</show_in_store>
                </fyndiq_fyndiq>
            </groups>
        </payment>
        <carriers translate="label" module="fyndiq_fyndiq">
            <groups>
                <fyndiq_fyndiq translate="label">
                    <label>Fyndiq</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>1000</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <active translate="label">
                            <label>Enabled</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </active>
                    </fields>
                </fyndiq_fyndiq>
            </groups>
        </carriers>
    </sections>
</config>
