<?xml version="1.0"?>
<config>
    <sections>
        <fyndiq translate="label">
            <label>Fyndiq Settings</label>
            <tab>general</tab>
            <frontend_type>text</frontend_type>
            <sort_order>1000</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <groups>
                <!-- New groups go here -->
                <fyndiq_group translate="label">
                    <label>Settings</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>100</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <disconnect translate="label">
                            <label>Disconnect your account</label>
                            <frontend_type>button</frontend_type>
                            <frontend_model>Fyndiq_Fyndiq_Block_Button</frontend_model>
                            <sort_order>20</sort_order>
                            <comment>
                                <![CDATA[Disconnect your account means to reset your api-token and username, no warning will come up when clicking so click with caution!]]>
                            </comment>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </disconnect>
                        <description translate="label">
                            <label>Description to use</label>
                            <frontend_type>select</frontend_type>
                            <source_model>Fyndiq_Fyndiq_Model_System_Config_Source_Dropdown_Values</source_model>
                            <sort_order>15</sort_order>
                            <comment>
                                <![CDATA[This Description will be used, when sending the product to Fyndiq.]]>
                            </comment>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </description>
                        <!-- New fields go here -->
                        <import_state translate="label">
                            <label>Import order status</label>
                            <comment>
                                <![CDATA[Orders, imported from Fyndiq will be created with this orders status]]>
                            </comment>
                            <source_model>Mage_Adminhtml_Model_System_Config_Source_Order_Status</source_model>
                            <frontend_type>select</frontend_type>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </import_state>
                        <done_state translate="label">
                            <label>Done order status</label>
                            <comment>
                                <![CDATA[When orders are marked as done, they will be switched to this status]]>
                            </comment>
                            <source_model>Mage_Adminhtml_Model_System_Config_Source_Order_Status</source_model>
                            <frontend_type>select</frontend_type>
                            <sort_order>11</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </done_state>
                        <price_percentage translate="label">
                            <label>Global percentage of price</label>
                            <comment>
                                <![CDATA[The percentage that will be removed from the price when sending to fyndiq.
                            Can be 0 if the price should be the same as in your shop.]]>
                            </comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>7</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </price_percentage>
                        <!-- New fields go here -->
                        <apikey translate="label">
                            <label>API token</label>
                            <frontend_type>text</frontend_type>
                            <comment>
                                <![CDATA[The api-key that is long randomly generated string you got from Fyndiq.]]>
                            </comment>
                            <sort_order>2</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </apikey>
                        <username translate="label">
                            <label>Username</label>
                            <comment>
                                <![CDATA[Your login username to the merchant page.]]>
                            </comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </username>
                    </fields>
                </fyndiq_group>
            </groups>
        </fyndiq>
        <payment>
            <groups>
                <fyndiq_fyndiq translate="label comment">
                    <label>Fyndiq</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>9999</sort_order>
                    <show_in_default>0</show_in_default>
                    <show_in_website>0</show_in_website>
                    <show_in_store>0</show_in_store>
                </fyndiq_fyndiq>
            </groups>
        </payment>
    </sections>
</config>
